[Unit]
Description=Flask-app-service
After=network.target

[Service]
WorkingDirectory=/home/porublevnik/Homework_26
ExecStart=/home/porublevnik/Homework_26/venv/bin/python3 app.py

[Install]
WantedBy=multi-user.target